
$breakpoint-s:320px;
$breakpoint-m:480px;
$breakpoint-l:767px;
$breakpoint-xl:991px;
$breakpoint-xxl:1400px;

body{
  background-color: rgb(199, 199, 199);
  // for popup noscroll
  font-family: Inter;

scroll-behavior: smooth;
}

.wrapper{
  z-index: 0;

  background-color: #fff;
 
}

html , body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


.mw-543{
  max-width:543px !important ;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

 .dark-color{
   color:rgba(40, 36, 83, 1) !important;
 }

a{
  text-decoration: none;
  color: inherit;
}

.container{
  width: 100%;
  height: 100%;

  max-width: 1420px;
  padding: 0 20px;
  margin: 0 auto;
}

figure{
  margin: 0;
  padding: 0;
  font-size: 0;
}

  img {
    width: 100%;
    height: 100%;
    // object-fit: cover;
  }




@media screen and (min-width: $breakpoint-m){
  .container{
    padding:0 40px;
  }
  
}

@media screen and (min-width: $breakpoint-l){
  .container{
    padding:0 70px;
  }
  
}

@media screen and (min-width: $breakpoint-xl){

  
}
@media screen and (max-width: $breakpoint-xl){

  .order1-s{
    order:1 !important;
  }
}
