$main-button:#E9484C;

$main-button-hover:#ff4e51;



.button{
    width: 100%;
    display: inline-block;
    background-color: $main-button;
    border: 2px solid #CD060B;
    font-size: 20px;
    color:white;
    border-radius: 10px;
    padding: 17px 17px;
    scroll-behavior: smooth;
    cursor: pointer;

  }

  .button-shadow{
    box-shadow: 0px 2px 38px 2px rgba(122, 59, 59, 0.34);
    &:hover{
      box-shadow: 0px 2px 38px 2px rgba(130, 67, 67, 0.34);
    }
  }
  
  .button-arrow-right{
 
    &::after{
      content:"  ";
      display: inline-block;
      width: 30px;
      margin-left: 10px;
      margin-right: 5px;
      height: 20px;
      background-image: url(../images/arrow-to-right.svg);
      background-repeat: no-repeat;
    }
   &:hover::after{
     margin-left: 15px;
     margin-right: 0;
   }
   &:focus::after{
     margin-left: 15px;
     margin-right: 0;
   }

  }
  .button:hover{
    
    background-color: $main-button-hover;
  
    border-color:$main-button-hover ;
  }
  
  
 



  @media screen and (min-width: $breakpoint-m){

  .button{
    width: auto;
  }
  }