$border-color:rgb(214, 214, 214);
$input-padding:10px 20px;
$text-area-height:70px;
$label-mobile-margin:10px;
$space-between-input:10px;
$fontsize:16px;
$breakpoint-form:600px;
$button-bgc:rgb(196, 84, 84);
$button-color:white;
$containers-padding:15px 20px;

.form-main {
    font-size:$fontsize;
    border: solid $border-color 1px;
    display: block;

    label{
        margin:$label-mobile-margin 0;
    }
    .order-container {
        padding: $containers-padding;
    }

    .order-info {
        display: flex;
        justify-content: space-between;
    }

    .form-title {
        font-size: 16px;
       
        padding: $containers-padding;
        margin: 0;
        border-bottom: solid $border-color 1px;
    }

    .form-customer-info-line {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: $space-between-input;
    }

    textarea {
        resize: none;
    }

    .input-style {
        border:solid 1px $border-color;
        font-size: inherit;
        padding: $input-padding;

        border-radius: 4px;
        &:hover{
             border:solid 1px darken($border-color , 20%);
        }
        &:focus{
            border:solid 1px darken($border-color , 60%);
           outline:none;
        }
    }
    .submit-button{
        background-color: $button-bgc;
        color: $button-color;
        &:hover{
            background-color:$button-color;
            color:$button-bgc;
        }
        }
    .button-container{
        padding: $containers-padding;
        border-top:solid 1px $border-color;
        margin-top: 20px;
        text-align: center;

    }
    .width-1-1{
        width: 100%;
    }


    @media screen and (min-width: $breakpoint-form){
        .width-1-2-m {
            width: 50%;
        }
        .form-customer-info-line {
           justify-content: space-between;
        }
        .form-title{
            text-align: left;
        }
       label{
           margin: 0;
       }
    }
    


}




.select-css {
    user-select: none;
    display: block;
    font-size: inherit;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.select-css::-ms-expand {
    display: none;
}

.select-css:hover {
    box-shadow: 0 0 1px 1px $border-color;
}

.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 2px 2px $border-color;
    color: #222;
    outline: none;
}

.select-css option {
    font-weight: normal;
}

*[dir="rtl"] .select-css,
:root:lang(ar) .select-css,
:root:lang(iw) .select-css {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
}