.grid {
    display: flex;
    flex-wrap: wrap;
  }
.grid-item{
  order: 0;
}
  .grid-m{
    justify-content: center;
    margin:0 -20px;
    .grid-item{
      padding:0 20px;
    }
  }


  @media screen and (min-width: $breakpoint-m){

  
  }
  
  @media screen and (min-width: $breakpoint-l){
  
    .grid-l{
   
      margin:0 -50px;
      .grid-item{
        padding:0 50px;
      }
    }
  }
  
  @media screen and (min-width: $breakpoint-xl){
  
    
  }
  @media screen and (min-width: $breakpoint-xxl){
  
    
  }
  