body .popup-open {
  top:50%;
}
.popup-background{
    transition:0.3s;
    pointer-events: none;
    opacity: 0;
}

.popup-open+.popup-background {
    background-color: rgba(190, 190, 190, 0.826);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    opacity: 1;
    pointer-events: all;
}

.popup {
    text-align: center;
transition:0.3s;
    width: 100%;
    max-width: 600px;
    padding: 0 0 25px 0;
    position: fixed;
    z-index: 1001;
    left: 50%;
    transform: translate(-50%, -50%);
    top: -100%;

    .radio-btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .radio-input {
        display: none;

        &:checked+.radio-label {
            background-color: #5036B3;
            color: white;
        }
    }

    .message {
        padding: 20px;
        height: 60px;
        max-width: 386px;
        width: 100%;
        margin: 30px 0;
        resize: none;
        border: 1px solid #E3E6E9;
        box-sizing: border-box;
        border-radius: 16px;
    }

    .radio-label {
        border: 1px solid rgba(29, 5, 119, 0.23);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        font-size: 12px;
        justify-content: center;
        align-items: center;
        margin: 0 10px;

        &:hover {
            background-color: rgb(232, 232, 247)
        }
    }

    &-close {
        border-radius: 50%;
        padding: 0;
        display: block;
        margin-left: auto;
        border: none;
        height: 42px;
        width: 42px;
        background-color: inherit;
        cursor: pointer;
    }

    .input-container {
        text-align: center;

        img {
            width: 18px;
            position: absolute;
            height: 20px;
            margin-top: 12px;
            margin-left: 32px;

            z-index: 20;
        }

        input {
            max-width: 386px;
            position: relative;
            padding: 14px 65px;
            width: 100%;
            border: 1px solid #E3E6E9;
            margin-bottom: 10px;
            border-radius: 16px;
        }
    }

    h2 {
        margin-top: -30px;
        margin-bottom: 10px;
        font-family: Syne;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 100%;

        text-align: center;
        letter-spacing: -0.045em;
    }

    h3 {
        margin: 5px 0;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        letter-spacing: -0.025em;
        color: #3E4862;
    }

    &-container {
        background: #FFFFFF;
        border: 1px solid #D1D1D1;
        box-sizing: border-box;
        border-radius: 40px;
        padding: 20px 40px;
    }

    &-shadow {
        background: #D4C8FF;
        border-radius: 0 0 40px 40px;
        height: 40px;
        position: absolute;
        bottom: 13px;
        opacity: 0.9;
        z-index: -1;
        margin-left: 6px;
        width: calc(100% - 12px);
    }

    .submit-container {
        display: flex;
        justify-content: space-around;
    }


    .submit-btn,
    .cancel-btn {
        background-color: #F4F4F4;
        cursor: pointer;
        border-radius: 20px;
        padding: 8px 30px;
        color: black;
        font-size: 14px;
        transition: 0.2s;
        border: none;
        &:hover {
            background-color: #5036B3;
            color: white;
        }
    }
}


@media screen and (min-width: $breakpoint-m) {
    .popup {
        width: 400px;

        h2 {
            font-size: 50px;
        }


    }

}

@media screen and (min-width: $breakpoint-l) {
    .popup {
        width: 600px;

        .submit-btn,
        .cancel-btn {
            background-color: #F4F4F4;
            border-radius: 20px;
            padding: 22px 62px;
            color: black;
            transition: 0.2s;
            border: none;
            font-size: 16px;
            &:hover {
                background-color: #5036B3;
                color: white;
            }
        }

        h2 {
            font-size: 50px;
        }

        .message {
            height: 130px;
        }
    }

}