

@media screen and (max-width: $breakpoint-xl){
  .js-stack-cards__item{
        position: sticky;
        top:100px;
    overflow: hidden;
    
      }
    
      .stack-cards__item {
        display: block;
    
    
    
    transform-origin: center top;
    }
  
}
@media screen and (min-width: $breakpoint-xl){
  .js-stack-cards__item{
      transform: none;
    }

}


